<!DOCTYPE html>
<html>
<head>
    <title>Form Corrector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="icon-bar">
        <a href="/">Calorie Calculator</a>
        <a href="/chatbot">Recipe Chatbot</a>
        <a href="/workout">Sample Workout</a>
        <a href="/Livetracker">Live Form Tracker</a>
      </div>
      <h1>Live Form Tracker</h1>

      <div class = "squat-right">

<h2>Squats</h2>

<a href="/video">
    <img src="{{ url_for('static', filename='squat.png') }}" alt="Squat" width="300" height="300" style="border: none; cursor: pointer;">
</a>

</div>

<div class ="push-up">
    <h2>Push-ups....</h2>
    <h2>Coming soon</h2>
    <img src="{{ url_for('static', filename='push-up.png') }}" alt="Push-ups" width="300" height="300" style="border: none; cursor: pointer;">
</div>

<div class ="bench-press">
    <h2>Bench Press....</h2>
    <h2>Coming Soon</h2>
    <img src="{{ url_for('static', filename='benchpress.png') }}" alt="Bench" width="270" height="270" style="border: none; cursor: pointer;">



</body>




</html>