<!DOCTYPE html>
<html>
<head>
<title>Sample Workout Plan</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
    <div class="icon-bar">
        <a href="/">Calorie Calculator</a>
        <a href="/chatbot">Recipe Chatbot</a>
        <a href="/workout">Sample Workout</a>
        <a href="/Livetracker">Live Form Tracker</a>
      </div>


<h1>Sample Workout Plan</h1>
<h2>Workout 1</h2>
<h3>Push: Chest, Triceps, Shoulders</h3>
<ol>
    <li>Bench Press 4x10</li>
    <a href="https://www.youtube.com/watch?v=gRVjAtPip0Y" target="_blank">Tutorial</a>
    <li>Incline Dumbbell Press 3x8-10</li>
    <a href="https://www.youtube.com/watch?v=hChjZQhX1LsY" target="_blank">Tutorial</a>
    <li>Seated Dumbbell Shoulder Press 3x10</li>
    <a href="https://www.youtube.com/watch?v=qEwKCR5JCog" target="_blank">Tutorial</a>
    <li>Side Lateral Raises 4x8</li>
    <a href="https://www.youtube.com/watch?v=3VcKaXpzqRo" target="_blank">Tutorial</a>
    <li>Triceps Pressdowns 3x10</li>
    <a href="https://www.youtube.com/watch?v=2-LAMcpzODU" target="_blank">Tutorial</a>
    <li>Overhead Triceps Extensions 3x10</li>
    <a href="https://www.youtube.com/watch?v=ns-RGsbzqok" target="_blank">Tutorial</a>
</ol>
<hr>
<h2>Workout 2</h2>
<h3>Pull: Back and Bicep</h3>
<ol>
    <li>Lat PullDowns 4x10</li>
    <a href="https://www.youtube.com/watch?v=AOpi-p0cJkc" target="_blank">Tutorial</a>
    <li>Face Pulls 3x10</li>
    <a href="https://www.youtube.com/watch?v=V8dZ3pyiCBo" target="_blank">Tutorial</a>
    <li>Dumbbell Rows 3x8</li>
    <a href="https://www.youtube.com/watch?v=-koP10y1qZI" target="_blank">Tutorial</a>
    <li>Barbell Shrugs 2x10</li>
    <a href="https://www.youtube.com/watch?v=9xGqgGFAtiM" target="_blank">Tutorial</a>
    <li>Barbell Curls 3x10</li>
    <a href="https://www.youtube.com/watch?v=dDI8ClxRS04" target="_blank">Tutorial</a>
    <li>Dumbbell Hammer Curls 3x10</li>
    <a href="https://www.youtube.com/watch?v=zC3nLlEvin4" target="_blank">Tutorial</a>
</ol>
<hr>



<h2>Workout 3</h2>
<h3>Legs</h3>
<ol>
<li>Squats 4x8</li>
<a href="https://www.youtube.com/watch?v=SW_C1A-rejs" target="_blank">Tutorial</a>
<li>RDLs 3x10</li>
<a href="https://www.youtube.com/watch?v=_oyxCn2iSjU" target="_blank">Tutorial</a>
<li>Leg Press 3x10</li>
<a href="https://www.youtube.com/watch?v=xq2-vebNe6I" target="_blank">Tutorial</a>
<li>Hamstring Curls 3x10</li>
<a href="https://www.youtube.com/watch?v=_qwLdYywo_A" target="_blank">Tutorial</a>
<li>Calf Raises 2x15</li>
<a href="https://www.youtube.com/watch?v=eMTy3qylqnE" target="_blank">Tutorial</a>
</ol>
<hr>
</body>


</html>
